<template>
  <button class="black_note key" @click="clicked">
    <slot></slot>
  </button>
</template>
<script>
/* eslint-disable */

export default {
  name: "TeclaNegra",
  props: {
    note: {
      type: Number,
      required: 100
    }
  },
  methods: {
    clicked(event) {
      this.getSocket().sendNote(this.note);
    }
  }
};
</script>
<style>
.black_note {
  background-color: black;
  border: 1px solid gray;
  width: 50%;
  height: 60vh;
  color: white;
}
.black_note:focus {
  background-color: #292727;
}
</style>
