<template>
  <button :class="classes" @click="clicked">
    <slot></slot>
  </button>
</template>
<script>
/* eslint-disable */
export default {
  name: "TeclaBlanca",
  data() {
    return {
      classes: "white_note key"
    };
  },
  props: {
    note: {
      type: Number,
      required: 100
    }
  },
  methods: {
    clicked(event) {
      this.getSocket().sendNote(this.note);
    }
  }
};
</script>
<style>
.white_note {
  border: 1px solid black;
  width: 100%;
  height: 97vh;
}
.clicked {
  height: 60vh;
}
.white_note:focus {
  background-color: #cecece;
}
</style>
