<template>
  <div id="app">
    <div id="container1">
      <div id="container2">
        <tecla-blanca :note="1">DO</tecla-blanca>
        <tecla-negra :note="2"></tecla-negra>
        <tecla-blanca :note="3">RE</tecla-blanca>
        <tecla-negra :note="4"></tecla-negra>
        <tecla-blanca :note="5">MI</tecla-blanca>
        <tecla-blanca :note="6">FA</tecla-blanca>
        <tecla-negra :note="7"></tecla-negra>
        <tecla-blanca :note="8">SOL</tecla-blanca>
        <tecla-negra :note="9"></tecla-negra>
        <tecla-blanca :note="10">LA</tecla-blanca>
        <tecla-negra :note="11"></tecla-negra>
        <tecla-blanca :note="12">SI</tecla-blanca>
      </div>
    </div>
  </div>
</template>

<script>
/* eslint-disable */

export default {
  name: "App"
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#container2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
</style>
